

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  html,body {
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Sans', sans-serif;
    line-height: 2.em;
  }
  


  .l-heading1{
    padding-top:25px;
    font-size: 25px;
    text-align:center;
  }
  .l-heading2 {
    display:flex;
    justify-content: space-evenly;
    font-size: 30px;

  }


.content-wrapper { 
    display: flex;
    flex-direction: colo;
    align-content: center;
    margin-top: 20px;
}


.user-pic{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-self: flex-start;
    margin-left:30px;
    margin-right:30px;
    padding: 0 30px; 
}

.profile-detail{
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        overflow: auto;
        padding: 0 30px;    
        margin-top:20px;   
}
.box-profile {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
}


.btn {
    padding: 10px 10px; 
    margin-left: 10px;
} 

.btn-primary {
    background-color: rgb(149, 139, 158);
}



.btn-danger {
    background-color: rgb(170, 154, 154);
    margin-left:40px;
    margin-right:40px;
    margin-top:8px;

}

/* user profile navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: #f79fcc;
    padding: 12px;
    text-decoration: none;
    font-size:22px;
    font-family: 'Yellowtail', cursive;
    border-radius: 10px;
  }
  
  li a:hover {
    color: black;
  }

  /* contact form */

.detail-list{
    display: block;
    margin-bottom: 18px;
}

#contact-form .label {
    display: block;
    margin-bottom: 10px;
}
  

 
  


  .detail-list-about  {
    width: 100%;
    padding: 10px;
    margin-top:10px;
    border: 1px #dddddd solid;
    border-radius: 5px;
  }

.list-group-item{

    padding-top:20px;

}

.on {
  background-color: rgb(147, 236, 135);
}

.off {
  background-color: grey;
}

.online-status {
  border-radius: 30px;
  /* padding: 0px 10px; */
  position: relative;
  width: 20px;
  height: 20px;
  bottom: 25px;
 margin-left:30px;
}