

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  html,body {
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Sans', sans-serif;
    line-height: 2.em;
  }
  


  .l-heading1{
    padding-top:20px;
    font-size: 30px;
    text-align:center;
  }
  .l-heading2 {
    font-size: 30px;
    text-align:center;

  }


.content-wrapper { 
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 20px;
}


.user-pic{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left:34px;
}

.profile-detail{
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        overflow: auto;
        padding: 0 20px;    
        margin-top:20px;   
}
.box-profile {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 20px;
}


.btn {
    padding: 10px 10px; 
    margin-left: 10px;
} 

.btn-primary {
    background-color: rgb(149, 139, 158);
}



.btn-danger {
    background-color: rgb(170, 154, 154);
    margin-left:70px;

}

/* user profile navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #f79fcc;
    padding: 10px;
    text-decoration: none;
    font-size:20px;
    font-family: 'Yellowtail', cursive;
    border-radius: 10px;
  }
  
  li a:hover {
    background-color: black;
  
  }

  /* contact form */

.detail-list{
    display: block;
    margin-bottom: 10px;
}

#contact-form .label {
    display: block;
    margin-bottom: 10px;
}
  

  
  #contact-form input, 
  #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #dddddd solid;
    border-radius: 5px;
  }
  
  #contact-form textarea {
    height:200px;
  }

.list-group-item{

    padding-top:20px;

}

.online-status{
    margin-left:100px;

}